code {
    background-color: rgba(240, 240, 240, 1);
    padding: 0px 3px;
    border-radius: 3px;
    border: 1px solid gray;
    white-space: nowrap;
    font-family: 'Fira Code', 'monospace';
}

h1 {
    line-height: 2em;
    margin-bottom: 10px;
}

h2 {
    text-align: center;
    margin-top: 10px;
}

ol {
    margin-bottom: 10px;
}

.lbblock {
    border: 1px solid black;
    border-radius: 3px;
    width: 300px;
    margin: 15px auto;
}

.first {
    background-color: rgb(255, 253, 232);
}

.second {
    background-color: rgb(255, 239, 239);
}

.third {
    background-color: rgb(237, 244, 255);
}

body {
    margin: 0;
    padding: 0;
}

.all,
.full {
    max-width: 1000px;
    margin: auto;
    width: 95%;
    font-family: "Fira Sans", sans-serif;
    text-align: center;
    font-size: 1.2em;
}

.parent {
    display: grid;
    place-items: center;
    height: 90vh;
}

@media (min-height: 500px) {
    .vcenter {
        height: 500px;
        position: absolute;
        top: 45%;
        margin-top: -250px;
    }

    .vcenter:has(details[open]) {
        padding-bottom: clamp(520px, calc(590px - 10vw), 540px);
    }
}

.temp {
    margin-bottom: 20px;
}

.frame {
    border: 1px solid black;
    padding: 10px;
    padding-top: 20px;
    border-radius: 3px;
    text-align: center;
    font-family: "Fira Code", monospace;
    font-size: 0px;
    width: 90%;
    margin: auto;
}

.num {
    font-size: 40px;
    line-height: 40px;
    height: 50px;
    vertical-align: middle;
    padding: 0 0px;
    margin: 0 3px;
}

.ans {
    line-height: 60px;
    vertical-align: middle;
    padding-left: 5px;
}

.resize-container {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    padding: 0;
    margin: 0;
}

.resize-input,
.resize-text {
    margin: 0;
    padding: 0;
    border: 1px solid #ccc;
    border-radius: 3px;
    height: 50px;
    font: 40px/40px sans-serif;
    letter-spacing: 2px;
}

.resize-text {
    padding-right: 10px;
    display: block;
    visibility: hidden;
    white-space: pre;
    min-width: 10px;
}

.resize-input {
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px dashed lightgray;
}

summary {
    text-align: center;
    color: gray;
}

details {
    text-align: left;
    margin: 5px auto;
}

#scroll-container {
    height: 600px;
    overflow-y: auto;
    position: relative;
    border: 1px solid black;
    padding-bottom: 30px;
    padding-top: 10px;
}

#content {
    position: relative;
    width: 100%;
    text-align: center;
}

.puzzle {
    display: inline-block;
    position: absolute;
    padding: 0;
    width: 80px;
    height: 40px;
    border: 1px solid black;
    text-align: center;
    line-height: 40px;
    color: black;
    text-decoration: none;
    margin: 8px;
}

.complete {
    border: 1px solid limegreen;
    box-shadow: 0 0 10px rgba(37, 255, 52, 0.507);
}

.puzzle.complete {
    background-color: rgb(222, 255, 225);
}

.challengecomplete {
    border: 1px solid rgb(212, 147, 255);
    box-shadow: 0 0 10px rgba(255, 136, 255, 0.507);
}

.puzzle.challengecomplete {
    background-color: rgb(241, 222, 255);
}

.multicomplete {
    border: 1px solid rgb(122, 133, 255);
    box-shadow: 0 0 10px rgba(117, 133, 255, 0.507);
}

#options {
    border: 1px solid black;
    padding: 10px;
    margin-top: 20px;

}

#search {
    font-size: 1rem;
    width: 250px;
}

.space {
    display: inline-block;
    padding-bottom: 6px;
}

abbr {
    text-decoration: none;
}

#challenge {
    color: rgb(209, 67, 249);
}

label {
    white-space: nowrap;
}

li {
    padding-bottom: 5px;
}

.settingsmenu {
    max-width: 600px;
    margin: auto;
    border: 1px solid black;
    padding: 10px;
    background-color: rgb(247, 247, 247);
    margin-bottom: 20px;
}

.settingsmenu label {
    margin-top: 5px;
    display: block;

}

#progress {
    display: block;
    margin: auto;
    margin-bottom: 10px;
}

.multi {
    border: 1px dashed blue;
    border-radius: 3px;
}

.var {
    color: blue;
    background-color: rgb(244, 244, 255);
}

.multi:hover {
    cursor: pointer;
}

ul {
    margin: 5px;
}

#canvascontainer {
    padding: 20px;
    margin: 20px auto;
    background-color: rgb(247, 247, 247);
    width: fit-content;
    height: fit-content;
    box-sizing: content-box;
    border: 1px solid black;
}

#canvaslabel {
    margin: 0 0 10px 0;
    line-height: 1.2rem;
}

#allselector {
    cursor: pointer;
}

canvas {
    image-rendering: pixelated;
}

#sandbox-num-container {
    margin-bottom: 50px;
    margin-top: 30px;
}

.sandbox-num {
    font-size: 40px;
    line-height: 40px;
    height: 50px;
    vertical-align: middle;
    padding: 0 0px;
    margin: 0;
    width: 30px;
    text-align: center;
}

.sandbox-num-span {
    position: relative;
}

.sandbox-num-span button {
    position: absolute;
    width: 33.2px;
    height: 25px;
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 1rem;
    text-align: center;
}

.sandbox-num-span button:hover {
    cursor: pointer;
}

.sandbox-num-span button:focus {
    background-color: rgba(183, 192, 255, 0.507);
}

.up {
    top: -40px;
}


.down {
    left: 0;
    top: 40px;
}

#sandbox-completed {
    position: absolute;
    font-size: 40px;
}

.sandbox-override {
    height: 900px;
}

h1>[data-tooltip]:hover::after {
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: max-content;
    font-weight: normal;
    content: attr(data-tooltip);
    background: rgb(230, 239, 255);
    border: 1px solid rgb(129, 129, 215);
    padding: 6px 10px;
    font-size: 14px;
    line-height: 14px;
    border-radius: 3px;
    z-index: 9999;
}

.fixed-tooltip {
    position: fixed;
    text-align: center;
    font-size: 14px;
    background: rgba(230, 239, 255, 0.95);
    border: 1px solid rgb(129, 129, 215);
    padding: 6px 3px;
    border-radius: 3px;
    width: 120px;
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

#ephemeralcontainer {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10000;
    display: flex;
    flex-direction: column;
    gap: 10px;
    pointer-events: none;
}

.ephemeral {
    color: black;
    border-radius: 3px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    transform: translateY(20px);
    min-width: 200px;
    text-align: center;
    font-size: 18px;
    line-height: 18px;
    max-width: 350px;
}

.success {
    border: 1px solid rgb(129, 215, 130);
    background: rgba(234, 255, 230, 0.95);
}

.default {
    background: rgba(230, 239, 255, 0.95);
    border: 1px solid rgb(129, 129, 215);
}

.failure {
    background: rgba(255, 230, 230, 0.95);
    border: 1px solid rgb(215, 129, 129);
}

.closable {
    padding: 10px 30px 10px 7px;
    pointer-events: auto;
}

.unclosable {
    padding: 10px 7px;
    pointer-events: none;
}

.ephemeral.show {
    opacity: 1;
    transform: translateY(0);
}

.ephemeral.hide {
    opacity: 0;
    transform: translateY(20px);
}

.ephemeral-close {
    position: absolute;
    top: 5px;
    right: 5px;
    color: rgba(34, 34, 34, 0.7);
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    line-height: 1;
    padding: 2px 5px;
    border-radius: 2px;
}

.ephemeral-close:hover {
    background-color: rgba(0, 0, 0, 0.1)
}

.lbblock>h2 {
    margin-bottom: 0;
}

.mini {
    text-align: center;
    padding: 0;
    display: block;
    font-size: 14px;
    color: rgba(0,0,0, 0.6);
    margin: 0;
}

ol {
    margin-top: 10px;
}

.btn {
    font-size: 18px;
    line-height: 18px;
    background-color: white;
    /*background-color: rgb(239, 241, 255);*/
    margin: 8px;
    border-radius: 3px;
    border: 1px solid black;
    padding: 6px 8px;
}

.btn:hover {
    background-color: rgb(237, 237, 237);
    cursor: pointer;
}